@import "vars";
@import "mixins";

/* Default styles */

/* Blocks */
.osn {
    background-color: rgb(241, 255, 253);
    width: 1200px;
    height: 1080px;
    margin-left: 320px;
    margin-top: -1070px;

}

.blck3{
    display: flex;
    justify-content: space-between;
}
.bar {
    background-color: rgb(194, 226, 221);
    width: 1200px;
    height: 100px;
    padding-top: 50px;
}
h1 {
    font-size: 40px;
    color: rgb(58, 95, 95);
    margin: 0px 850px 0;
}
.bg{
    background-color: rgb(226, 217, 221);
    padding: 10px 20px;
}
.blck1 {
    display: flex;
    justify-content: space-between;
    width: 950px;
}
.blck2 {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: 100px;
    margin-top: -100px;
}
.k{
    background-color: rgb(214, 214, 214);
    width: 500px;
    height: 300px;
    margin: 100px 100px 0;
}
h2 {
    font-size: 30px;
    margin: 100px 0 0;
}
.k2{
    background-color: rgb(214, 214, 214);
    width: 450px;
    height: 300px;
    margin: 100px 0 0;
}
.icon {
    margin: -65px 95px 0;
}
.icon2 {
    margin: -65px 1010px 0;
}
h3 {
    font-size: 30px;
    margin: 100px 0 0;
}
h4{
    margin: -60px 200px 0;
    font-size: 40px
}
.aa{
    margin: 100px 500px 0;
    color: rgba(0, 0, 0, 0.212)
}
.chat {
    background-color: rgb(252, 249, 250);
    width: 300px;
    height: 1070px;
    border-radius: 40px;
}
.ad {    
    background-color: rgb(252, 249, 250);
    width: 300px;
    height: 1070px;
}
@import "blocks/h.scss";
h6 {
    color: rgba(0, 0, 0, 0.178);
    margin: 450px 110px;
    font-size: 40px;;
}
.textt{
    margin: 10px 30px;
}
.avtr{
    background-color: rgb(246, 255, 255);
    height: 70px;
    width: 70px;
    border-radius: 100px;
    margin: 20px 30px 0;
}
.prof{
    margin: 10px 30px;
    font-size: 30px;
}
.cs{
    margin: 300px 80px ;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.315);
}
.lin {
    background-color: rgb(226, 217, 221);
    width: 1000px;
    height: 2px;
    margin: 50px 100px
}
/* Vendor libs */